@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.LogedPage{
    height: 100vh;
    background-color: #eff6ff;
    font-family: 'Gabarito';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 90%;
    color: #1f2937;
    width: 50%;

    position: relative;
}

.create-first h1{
    font-size: 48px;
    font-weight: 700;
    z-index: 2;
}

.create-first p{
    font-size: 24px;
    font-weight: 400;
    z-index: 2;
}

.create-first button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
}

.create-first button:hover{
    background-color: #1d4ed8;
}

.books-part{
    margin-top: 24px;
    width: 1200px;
    background-color: white;
    min-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }



.books-part .create-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 48px;
    background-color: #2563eb;
    color: white;
    border-radius: 2px;
    flex-direction: row;
    cursor: pointer;
    margin: 12px 0 24px 0;
    gap: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.books-part .create-book .plus{
    font-size: 20px;

}

.books-part .create-book:hover{
    background-color: #1d4ed8;
}

.all-books{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

}

.all-books .book-card{
    cursor: pointer;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: .2s ease-in-out;
}

.all-books .book-card:hover{
box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px,rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.all-books .book-card .unpaid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fca5a5;
    color: #7f1d1d;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    width: 92px;
    transition: .2s;
}

.all-books .book-card .unpaid:hover{
    background-color: #f87171;
}

.all-books .book-card .paid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93c5fd;
    color: #1e3a8a;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer; 
    width: 92px;
    transition: .2s;
}

.all-books .book-card .paid:hover{
    background-color: #60a5fa;
}

.all-books .book-card .book-name{
    font-size: 20px;
    font-weight: 500;
}

.LogedPage .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.LogedPage .popup .popup-inner{
    position: relative;
    width: 50%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: fadeIn .3s;
}

.LogedPage .popup .popup-inner .close-popup{
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.LogedPage .popup .popup-inner .book-flex{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;

}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 48px 24px;
}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .left-flex{
    width: 30%;
}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .left-flex h1{
    font-size: 24px;
    font-weight: 600;
    color: #4b5563;

}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .left-flex p{
color: #6b7280;
}


.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .right-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .right-flex div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .right-flex div input{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #9ca3af;
    background-color: #f3f4f6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    width: 100%;

}

.LogedPage .popup .popup-inner .book-flex .book-flex-wrapper .right-flex div textarea{
    resize: none;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #9ca3af;
    background-color: #f3f4f6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    height: 200px;
}

.LogedPage .popup .popup-inner .down-bar{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.LogedPage .popup .popup-inner .down-bar a{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    text-decoration: none;
    transition: .2s;
}

.LogedPage .popup .popup-inner .down-bar a.delete-btn{
    background-color: white;
    color: #dc2626;
}

.remove-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.remove-popup .remove-popup-inner{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: fadeIn .3s;
    border-top: 4px solid #dc2626;
}

.remove-popup .remove-popup-inner .close-popup {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.remove-popup .remove-popup-inner .remove-popup-text{

    display: flex;
    gap: 24px;
    padding: 62px 12px 12px 12px;
}

.remove-popup .remove-popup-inner .remove-popup-text .icon h2{
    font-size: 32px;
    color: #dc2626;
    background-color: #fee2e2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-5px);
}

.remove-popup .remove-popup-inner .remove-popup-text .just-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.remove-popup .remove-popup-inner .remove-popup-text .just-text h3{
    font-size: 20px;
    font-weight: 400;
}

.remove-popup .remove-popup-inner .remove-popup-text .just-text p{
    font-size: 16px;
    font-weight: 200;
    color: #374151;
}

.remove-popup .remove-popup-inner .btns{
    background-color: #fef2f2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    gap: 12px;
    padding: 12px;
    bottom: 0;

}

.remove-popup .remove-popup-inner .btns a.cancle{ 
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #1f2937;
}

.remove-popup .remove-popup-inner .btns a.delete{ 
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fecaca;
    color: #dc2626;
    border-radius: 3px;
}





@keyframes fadeIn{
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}





