@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.LogedPage{
    height: 100vh;
    background-color: #eff6ff;
    font-family: 'Gabarito';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 90%;
    color: #1f2937;
    width: 50%;

    position: relative;
}

.create-first h1{
    font-size: 48px;
    font-weight: 700;
    z-index: 2;
}

.create-first p{
    font-size: 24px;
    font-weight: 400;
    z-index: 2;
}

.create-first button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
}

.create-first button:hover{
    background-color: #1d4ed8;
}

.books-part{
    margin-top: 24px;
    width: 1200px;
    background-color: white;
    min-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }



.books-part .create-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 48px;
    background-color: #2563eb;
    color: white;
    border-radius: 2px;
    flex-direction: row;
    cursor: pointer;
    margin: 12px 0 24px 0;
    gap: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.books-part .create-book .plus{
    font-size: 20px;

}

.books-part .create-book:hover{
    background-color: #1d4ed8;
}

.all-books{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

}

.all-books .book-card{
    cursor: pointer;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: .2s ease-in-out;
}

.all-books .book-card:hover{
box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px,rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.all-books .book-card .unpaid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fca5a5;
    color: #7f1d1d;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    width: 92px;
    transition: .2s;
}

.all-books .book-card .unpaid:hover{
    background-color: #f87171;
}

.all-books .book-card .paid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93c5fd;
    color: #1e3a8a;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer; 
    width: 92px;
    transition: .2s;
}

.all-books .book-card .paid:hover{
    background-color: #60a5fa;
}

.all-books .book-card .book-name{
    font-size: 20px;
    font-weight: 500;
}





